# ===== Python =====
__pycache__/
*.py[cod]
*.pyd
*.pyo
.env
.venv
venv/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== YOLO / Ultralytics =====
runs/
weights/
*.pt
*.onnx
*.engine
*.torchscript

# ===== Dataset Cache =====
dataset/.cache/
*.cache

# ===== Logs =====
logs/
*.log

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
